// Import `normalize` from node_modules
@import "normalize.css/normalize.css"

body {
  background-color #ccc;
  display: flex;
  border-radius: 5px;
}

.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
