// Import `normalize` from node_modules
@import "normalize.css/normalize.css"

body {
  background-color #ccc;
  display: flex;
  border-radius: 5px;
}

head {
  display block
  height 300px
  background #fff
}
