.card-article
  border: 1px solid #ccc
  border-radius: 5px

.card-article-body
  padding: $spacing.small

.card-article-image
  position: relative
  overflow: hidden
  border-radius: 5px 5px 0 0

.card-article-title
  font-weight: bold
  margin: 0
  font-size: $font-size.medium

.card-article-description
  font-size: $font-size.small
