// =============================================================================
// Base
// =============================================================================

body
  font-family sans-serif
  font-size 100%
  background-color #fff

a
  text-decoration none
  color inherit
