// =============================================================================
// Config variables.
// =============================================================================
// Define here your global variables.
//
// Your variables should start with `$`, like the examples below.
// =============================================================================

// Breakpoints
// -----------

$bp = {
  lg: 1024px,
  md: 768px,
  sm: 600px,
  xs: 400px
}

// Colors
// ------

$color = {
  black: #000,
  white: #fff,
  facebook: #3b5998,
  twitter: #55acee,
  google: #dd4b39,
  youtube: #bb0000,
  linkedin: #007bb5
}

// Container
// ---------

$container = {
  width: 1024px,
  padding: 20px
}
