// =============================================================================
// Helpers
// =============================================================================
// Define your helpers here.
//
// Helpers are utilities classes for generic purposes.
// You can create helpers for colors changes, like `._color-blue`, or
// text alignment like `._text-right`.
//
// Notice that all helpers must begin with underscore `_`.
// =============================================================================

// Clearfix helper
// ---------------

._clearfix
  lost-utility clearfix

// Color helpers
// -------------

for key, val in $color
  ._color-{key}
    color: val

  ._bg-color-{key}
    background-color: val

// Display helpers
// ---------------

._block
  display block

._none
  display none

._inline-block
  display inline-block

// Visibility helpers
// ------------------

._hidden
  visibility hidden

._visible
  visibility visible

// Position helpers
// ----------------

._relative
  position relative

// Text alignment helpers
// ----------------------

._text-left
  text-align left

._text-right
  text-align right

._text-center
  text-align center

// Font family helpers
// -------------------

for key, val in $font-family
  ._font-family-{key}
    font-family: val
