// =============================================================================
// Index
// =============================================================================
// This is the main file for CSS.
// All files should be imported from here.
// =============================================================================

// Config variables
// ----------------

@import 'config'

// Normalize
// https://github.com/necolas/normalize.css
// ----------------------------------------

@import 'normalize.css/normalize.css'

// Helpers
// -------

@import 'helpers'

// Base
// ----

@import 'base'

// Icons
// -----

@import 'icons'

// Vendor
// ------
// Here, you can import some CSS from third-party dependencies, like plugins.
// You can import directly from `node_modules`, like the examples below:

// @import 'swiper/dist/css/swiper.css'
// @import 'slick-carousel/slick/slick.css'
// @import 'sweetalert2/dist/sweetalert2.css'
// @import 'featherlight/release/featherlight.min.css'
// @import 'featherlight/release/featherlight.gallery.min.css'
// @import 'tether-tooltip/dist/css/tooltip-theme-arrows.css'
// @import 'select2/dist/css/select2.min.css'

// Grid
// ----

@import 'grid'

// Components
// ----------

@import 'components/**/*'
