// =============================================================================
// Index
// =============================================================================
// This is the main file for CSS.
// All files should be imported from here.
// =============================================================================

// Config variables
// ----------------

@import 'config'

// Normalize
// https://github.com/necolas/normalize.css
// ----------------------------------------

@import 'normalize.css/normalize.css'

// Helpers
// -------

@import 'helpers'

// Base
// ----

@import 'base'

// Vendor
// ------
// Here, you can import some CSS from third-party dependencies, like plugins.
// You can import directly from `node_modules`, like the examples below:

// @import 'swiper/dist/swiper.css'
// @import 'slick-carouse/slick/slick.css'
// @import 'sweetalert/dist/sweetalert.css'

// Components
// ----------

// @import 'components/**/*'
