.ui-input
  display: block
  width: 100%
  background-color: #fff
  padding: 9px 7px
  font-size: $font-size.normal
  border: 1px solid $color.gray-dark
  border-radius: 3px

select.ui-input
  cursor: pointer
