.ui-select
  position: relative

.ui-select::after
  content: " "
  position: absolute
  top: 50%
  right: 10px
  transform: translateY(-50%)
  width: 0
  height: 0
  border-style: solid
  border-width: 7px 7.5px 0 7.5px
  border-color: $color.gray-x-dark transparent transparent transparent
